.alert{
	margin-left: 15px;
	margin-right: 20px;
}

.backlog{
  width: 33%;
}

textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}